@font-face {
  font-family: 'PTSans';
  src: url('../fonts/pt_sans-narrow-regular.eot');
  src: url('../fonts/pt_sans-narrow-regular.eot?#iefix')format('embedded-opentype'),
  url('../fonts/pt_sans-narrow-regular.woff2') format('woff2'),
  url('../fonts/pt_sans-narrow-regular.woff') format('woff'),
  url('../fonts/pt_sans-narrow-regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
body {
  font-size: 16px;
  line-height: 1.3;
  font-family: 'PTSans', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;/*РАСКОМЕНТИРОВАТЬ В КОНЦЕ*/
}
.header {
  position: relative;
  background: url('../img/bg-slider.jpg') no-repeat center;
  background-size: cover;
  min-height: 93vh;
}
.menu-full {
  display: none;
}

.menu-gamburger {
  position: absolute;
  top: 42px;
  right: 33px;
  display: block;
  cursor: pointer;
  height: 38px;
  width: 48px;
}
.menu-gamburger span {
  display: block;
  top: 8px;
  width: 48px;
  height: 5px;
  background-color: #b0cb1f;
  position: relative;
  -webkit-transition-duration: 0;
  -moz-transition-duration: 0;
  -ms-transition-duration: 0;
  -o-transition-duration: 0;
  transition-duration: 0;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.menu-gamburger span::after, 
.menu-gamburger span::before {
  display: block;
  content: '';
  position: absolute;
  width: 48px;
  height: 5px;
  background-color: #b0cb1f;
}
.menu-gamburger span::before {
  margin-top: -11px;
}
.menu-gamburger span::after {
  margin-top: 11px;
}
/*
.menu-gamburger {
  display: none;
}*/
.green-rectangle-for-logo {
  width: 82%; /*400*/
  height: 56px;
  position: absolute;
  bottom: -17px; 
  right: 0;
  background-color: #b0cb1f; 

}
.white-rectangle-for-logo {
  width: 61%; /*293*/
  height: 140px;
  position: absolute;
  bottom: -17px; 
  right: 35px;
  background-color: #ffffff;
}
.logo {
  width: 87%; /*254*/
  height: 140px;
  position: absolute;
  right: 0;
  bottom: -16px;
}
.logo img {
  width: 100%;
}

.review {
  position: relative;
  margin-left: 63px;
  margin-top: 60px;
  background-color: #f1efef; 
  padding:36px 16px 50px 31px;
}
.avatar {
  width: 31%;
 
  position: absolute;
  top: -24px;
  left: -29px;
  border: 5px solid #b0cb1f;
}
.avatar img{
  margin-bottom: -5px;
  width: 100%;
  height: 100%;
}
.avatar-text {
  display: none;
}
.title {
  padding-left: 22%;
  color:  #000000;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}
.more {
  width: 24px;
  height: 21px;
}
.title-green {
  display: block;
  margin-top: 26px;
  color:  #1d7e22;
  font-size: 17px;
  font-weight: 700;
}
.review__text {
  padding-top: 35px;
  color:  #242424;
  text-align: left;
}
.how-contact {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 39px;
  background-color:  #b0cb1f;
  width: 100%;
}
.how-contact__title {
  width: 100%;
  padding: 47px 25px 24px 37px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
.how-contact__social-group {
  width: 45%;
  background: url('../img/bush.png') no-repeat;
  background-size: 100%;
  background-position: left bottom;
  background-position-x: 100%;
}
.social-links a {

	width: 28px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
  color: #b0cb1f;
  background-color: #ffffff;
	border: solid 1px #ffffff;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 24px;
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
}
.social-links a:first-child {
  	margin-left: 0;
} 
.social-links a:last-child {
	margin-right: 0;
} 
[class^="icon-"]:before, [class*=" icon-"]:before {
   margin-left: 0;
}
.social-links a:hover {
  cursor: pointer;
}
.icon-vk {
  font-style: normal;
  font-weight: 900;
  text-decoration: none;
}
.how-contact__conact-group {
  width: 47%;
  padding: 0 10px;
  text-align: left;
}
.how-contact__adress {
  margin-top: 5px;
}
.how-contact__mail {
  font-weight: 700;
}
.how-contact__img {
  display: none;
}
.how-contact970 {
  display: none;
}
footer {
  margin-top: 166px;
  width: 100%;
  min-height: 373px;

  position: relative;
}
.footer__map__nav {
  background: url('../img/map.jpg');
  background-position: center;
  position: relative;

}
.popup__send-mail {
  position: absolute;
  top: -111px;
  left: 20px;
  z-index: 2;
}
.popup__send-mail img {
  width: 100%;
}
.white-rectangle-for-footer {
  width: 100%; /*293*/
  height: 53px;
  position: absolute;
  bottom: 25px; 
  background-color: #ffffff;
  z-index: 2;
}
.map {
  width: 100%;
  height: 373px;
}
.footer__logo {
  width: 61%; /*289*/
  height: 174px;
  position: absolute;
  right: 0;
  bottom: 28px;
  z-index: 2;
  text-align: right;
}
.footer__buterfly {
  height: 242px;
  position: absolute;
  z-index: 2;
  top: -85px;
  left: 241px;
  overflow: hidden;

}

.footer__contact-group {
  padding: 10px;
  font-size: 10px;
}
.footer__contact {
  display: inline-block;

}
.footer__contact__mail {
  width: 34%;
  font-weight: 700;
}
.footer__contact__adress {
     width: 230px;
     padding-left: 1%;
     font-size: 10px;
}
.green-rectangle-for-footer {
  display: none;
}
.how-contact970-2, .green-rectangle-for-social, .green-rectangle-for-footer-menu {
  display: none;
}



/*portfolio*/
.portfolio__header {
  position: relative;
  background: url(../img/bg-slider-portfolio.jpg) no-repeat center;
}
.portfolio__title {
  width: 265px;
  position: absolute;
  bottom: -66px;
  left: 15px;
  background-color: #ffffff;
  padding: 17px 20px 17px 14px;
  z-index: 2;

}
.portfolio__title {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}
.portfolio__title-green {
  font-size: 30px;
  color: #1d7e22;
  font-weight: bold;
  text-transform: none;
}
.portfolio__title-bigger {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.portfolio__green-rectangle-for-logo {
  position: relative;
  width: 100%;
  margin-top: 86px;
  margin-bottom: 45px;
}
.portfolio-date {
  display: block;
  padding: 15px 0 16px 40px;
  padding-left: 1%;
  font-size: 20px;
  font-style: italic;
  color: #114d14;
}
.portfolio__white-rectangle-for-logo {
  bottom: 0;
}
.portfolio__project__header {
  display: flex;
}
.portfolio__social-links a {
  width: 30px;
  height: 30px;
}
.portfolio__project-title {
  font-size: 65px;
  line-height: 35px;
  color: #1d7e22;
  font-weight: bold;
}
.portfolio__project-title-smaller {
  font-size: 41px;
}
.portfolio__project-adress {
  padding-top: 5px;
  font-size: 18px;
  color: #242323;
  font-weight: normal;

}
.portfolio__projecl-nav {
  font-size: 30px;
  font-weight: normal;
  color: #000000;
}
.portfolio__projecl-nav ul {
  padding-left: 20px;;
}

.portfolio__projecl-nav a {
  color: #000000;
  text-decoration: none;
}
.portfolio__projecl-nav a:hover {
  color: blue;
  text-decoration: underline;

}
.portfolio__projecl-nav-active {
  position: relative;
}
.little-green-rectangle {
  position: absolute;
  width: 40px;
  height: 22px;
  background-color: #b0cb1f;
  left: -74px;
  top: 8px;
}
.project {
  position: relative;
}
.project img {
  width: 100%;
}
.portfolio__project__date-social .portfolio-date {
  display: none;
}
.portfolio__project__date-social .how-contact__img {
  display: none;
}
.portfolio__project__foto__works {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__project__foto__work {
  width: 43%;
  margin: 15px;
}
.portfolio__project__text__main {
  padding: 40px 15px 60px 15px;
  font-size: 20px;
  color: #1d7e22;
  margin: 0;
}
.portfolio__project__text {
  padding: 40px 15px 60px 15px;
  font-size: 16px;
  color: #1d7e22;
  margin: 0;
}
.portfolio__project__right-menu {
  display: none;
}
.portfolio__project__stages {
  background-color: #f3f0f0; 
}
.portfolio__project__stage {
  font-size: 45px;
  color: #1d7e22;
  margin: 0;
  padding: 54px 15px 34px 40px; 
  font-weight: normal;
}
.portfolio__project__stage__text {
  margin: 0;
  color: #464646;
  padding: 0 15px 20px 40px; 
}
.portfolio__project__gallery {
  padding-left: 15px;
}
.portfolio__project__stage__foto-main {
  margin-top: 15px;
  width: 450px;
  height: 319px;
}
.portfolio__project__stage__foto {

  width: 131px;
  height: 89;
  margin: 1%;
  margin-bottom: 15px;
}
.portfolio__social-links-after {
  padding: 32px 15px 24px 55%;
  background-image: none;
}
.footer-under-tree {
  position: absolute;
  bottom: -177px;
  left: -157px;
}
.portfolio__other-projects {
  margin-top: 52px;
  padding: 0 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 651px;
  align-items: center;
}
.portfolio__project__item {
  width: 130px;
  margin-bottom: 25px;
  padding: 0 5px;
}
.portfolio__project__item img {
  width: 100%;
}
.portfolio__project__item__title {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.portfolio__project__item__title__main {
  padding-top: 35px;
  padding-right: 10px;
  text-transform: uppercase;
  text-align: right;
}
.portfolio__project__item__title__main-first {
  font-size: 36px;

  font-weight: bold;
  color: #114d14;
  text-shadow: #ffffff 1px 1px 0, #ffffff -1px -1px 0, 
  #ffffff -1px 1px 0, #ffffff 1px -1px 0;
}
.portfolio__project__item__title__main-bigger {
  font-size: 30px;

  font-weight: bold;
  line-height: 30px;
  text-shadow: #ffffff 1px 1px 0, #ffffff -1px -1px 0, 
  #ffffff -1px 1px 0, #ffffff 1px -1px 0;
}
.portfolio__project__item__title__main-smaller {
  font-size: 11px;

  line-height: 20px;
  font-weight: normal;
}
.portfolio__footer__contact-group {
  font-weight: bold;
}
.footer-behind-bg-tree {
  display: none;
}
.text-green-bg {
  display: none;
}
.text__project__stage-smaller {
  display: none;
}
.text__project__item__title__main-smaller {
  font-weight: 900;
}
/*portfolio-list*/
.header-map {
  width: 100%;
  height: 100vh;

}
.portfolio-list__markers {
  position: absolute;
  right: 22px;
  bottom: 139px;
}
.portfolio-list__markers ul {
  list-style-type: none;
}
.portfolio-list__markers a {
  text-decoration: none;
  cursor: pointer;
}
.portfolio-list__marker {
  width: 38px;
  height: 38px;
  display: block;
  border: 2px solid #114d14;
  border-radius: 50%;
}
.portfolio-list__marker-house {
  background: url('../img/marker-house.png') no-repeat center;
  background-size: 68%;
}
.portfolio-list__marker-institute {
  background: url('../img/marker-institute.png') no-repeat center;
  background-size: 68%;
}
.portfolio-list__marker-tree {
  background: url('../img/marker-tree.png') no-repeat center;
  background-size: 68%;
}

.portfolio-list__header {
  background-image: url('../img/map-pic.jpg');
}
.portfolio-list__wrapper {
  display: flex;
}
.portfolio-list__text-green-bg {
  display: block;
  width: 35%;
  background-color: #b0cb1f;
}
.portfolio-list__items {
  width: 87%;
  margin-left: -137px;
  margin-top: -50px;
}
.portfolio-list__foto__main {
  width: 100%;
}
.portfolio-list__foto__main img {
  width: 100%;
}
.portfolio-list__green-rectangle-for-logo {
  margin-top: -51px;
  width: 86%;
  margin-left: 14%;
}
.portfolio-list__white-rectangle-for-logo {
  right: 15px;
  bottom: -28px;
  height: 175px;
}
.portfolio-list__logo {
  bottom: 12px;
}
.portfolio-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 122%;
}
.portfolio-list__description {
  padding: 37px 71px 26px 30px;
}
.portfolio-list__description__title {
  font-size: 41px;
  font-weight: bold;
  color: #1d7e22;
  text-transform: uppercase;
}
.portfolio-list__description__title:before {
  content: " ";
  display: inline-block;
  width: 34px;
  height: 34px;
  border: 1px solid #1d7e22;
  border-radius: 50%;
  
}
.portfolio-list__description__title-tree:before {
  background: url('../img/marker-tree.png') no-repeat center;
  background-size: 68%;
}
.portfolio-list__description__title-institute:before {
  background: url('../img/marker-institute.png') no-repeat center;
  background-size: 68%;
}
.portfolio-list__date {
  padding-left: 32px;
}
.portfolio-list__social-links {
  padding-left: 28px;
}
.portfolio-list__social-links a {
  width: 28px;
  height: 28px;
  line-height: 28px;
  margin-right: 0;
}
.portfolio-list__description__menu a {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}
.portfolio-list__description__menu a:hover {
  text-decoration: underline;
  color: #114d14;
}
.uppercase {
  text-transform: uppercase;
}
.portfolio-list__footer__contact__mail {
  width: 38%;
}
.portfolio-list__footer__contact__adress {
  width: 241px;
}
.portfolio-list-third {
  display: none;
}
/*contacts*/
.contact-map {
  width: 100%;
  height: 100vh;
}
.contscts__adress-bigger {
  font-size-adjust: 38px;
  color: #114d14;
  font-weight: bold;
}
.contscts__adress-smaller {
  text-transform: uppercase;

}
.contact__popup__send-mail {
  z-index: 2;
  top: 0;
}

@media screen and (min-width: 480px) {
  .avatar {
    width: 165px;
    height: 198px;
  }
  .title {
    padding-left: 134px;
    font-size: 19px;
  }
  .title-green {
    margin-top: 26px;
  }
  .social-links a {
    width: 33px;
    height: 33px;
    line-height: 33px;
    margin-left: 4px;
    margin-right: 4px;
  }
  .how-contact__title {
    font-size: 32px;
  }
  .how-contact__conact-group {
    width: 50%;

  }
  .footer__contact-group {
    font-size: 16px;
  }
  .footer__contact__adress {
    height: 64%;
    font-size: 16px;
  }
  /*portfolio*/
  .portfolio-date {
    padding-left: 40px;
    font-size: 22px;
  }
  .portfolio__project__item {
    width: 181px;
    padding: 0 15px;
  }

  .portfolio__other-projects {
    max-height: 784px;
  }
  .portfolio__project__item__title {
    font-size: 22px;
  }
  /*portfolio-list*/
  .portfolio-list__items {
    margin-left: -155px;
  }
  .portfolio-list__social-links {
    padding-left: 0;
  }
  .portfolio-list-item {
    width: 100%;
  }
  .portfolio-date {
    padding-left:0;
  }
  .portfolio-list__social-links a {
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin-right: 0;
  }
  .portfolio-list__description {
    padding: 37px 42px 26px 30px;
  }
  .portfolio-list__date {
    padding-left: 0;
  }
  .portfolio-list__social-links {
    padding-left: 0;
  }
  .portfolio-list__date {
    margin-top: -171px;
  }



}









@media screen and (min-width: 750px) {
  .header {
    min-height: 92vh;
  }
  .menu-gamburger {
    display: block;
  }
  .portfolio__title {
    width: 404px;
  }
  .green-rectangle-for-logo {
    width: 70%;
    bottom: 168px;
  } 
  .white-rectangle-for-logo {
    width: 44%; 
    bottom: 140px;
    right: 78px;
  }
  .logo {
    bottom: 12px;
  }

  .review {
    margin-top: 112px;
    margin-right: 78px;
    padding-right: 34px;
  }
  .review-first {
    margin-top: -140px;
  }
  .avatar-text {
    display: block;
    padding: 15px 0 0 50px;
  }
  .title {
    margin-top: 0;
  }
  .title-green {
    margin-top: 0px;
    font-size: 40px;
  }
  .title-bigger {
    font-size: 28px;
  }
  .review__text {
    padding-top: 0;
    padding-left: 134px;
  }
  .how-contact {
    justify-content: flex-end;
    position: relative;
  }
  .how-contact__title {
    width: 57%;
  }
  .how-contact__social-group {
    width: 34%;
    padding-top: 47px;
    padding-left: 0;
    text-align: left;
    background: none;
  }
  .portfolio__social-links-after {
    width: 97%;
    text-align: right;
  }
  .how-contact__conact-group {
    width: 32%;
  }
  .how-contact__img {
    display: block;
    width: 235px;
    height: 122px;
    position: absolute;
    bottom: -4px;
    left: -4px;
  }
  .how-contact__img img {
    width: 100%;
  }

  .footer__map {
    margin-right: 78px;
  }
  .green-rectangle-for-footer {
    display: block;
    width: 74px;
    height: 198px;
    position: absolute;
    bottom: 20px;
    right: -74px;
    background-color: #b0cb1f; 
  }

  .footer__contact__mail {
    width: 41%;
    padding-left: 63px;
  }
  .footer__contact__adress {
    width: 29%;
  }
  .footer__buterfly {
    right: -52px;
    left: auto;
  }
/*portfolio*/
.header {
  min-height: 100vh;
}
  .portfolio__title {
    margin-top: 54px;
    margin-left: 34px;
    position: static;
    bottom: auto;
    left: auto;
    padding: 17px 14px 17px 14px;
  }
  .portfolio__project__item__title__main-first {
    font-size: 55px;
  }
  .portfolio__project__item__title__main-bigger {
    font-size: 59px;
  }
  .portfolio__project__item__title__main-smaller {
    font-size: 17px;
  }
  .portfolio__project__item {
    width: 213px; 
  }
  .portfolio__title-green {
    font-size: 51px;
  }
  .portfolio__title-bigger {
    font-size: 51px;
  }
  .portfolio__title {
    font-size: 25px;
  }
  .portfolio__green-rectangle-for-logo  {
    position: absolute;
    right: 0;
    bottom: auto;
    top: -170px;
  }
  .portfolio__white-rectangle-for-logo {
    bottom: -28px;
  }
  .portfolio__project__header .portfolio__social-links {
    display: none;
  }
  .portfolio__project__header {
    position: absolute;
    right: 53px;
    padding: 26px 16px 26px 31px;
    background-color: #ffffff;
  }
  .portfolio__project__foto__main {
    width: 60%;
  }
  .portfolio__project__foto__works {
    overflow: hidden;
  }
  .portfolio__project__foto__work {
    width: 29%;
  }
  .portfolio__project__text {
    width: 30%;
  }
  .footer-under-tree {
    left: 150px;
  }
  .portfolio__project__gallery {
    display: flex;
    padding-left: 30px;

  }
  .slider-for {
    width: 72%;
  }
  .slider-nav {
    width: 20%;
    margin-top: 2%;
    margin-left: 4%;
  }
  .portfolio__project__item-big {
    order: -1;
  }
  .portfolio__other-projects {
    max-height: 560px;
  }
  /*portfolio-list*/
  .portfolio-list__green-rectangle-for-logo {
    position: relative;
    bottom: -17px;
    top: auto;
    width: 86%;
  }
  .portfolio-list__items {
    margin-left: -256px;
  }
  .portfolio-list-item {
    margin-left: 0;
    position: relative;
  }
  .portfolio-list__foto__main {
    width: 60%;
    margin-left: -10px;
    margin-top: -50px;
  }
  .portfolio-list__description {
  width: 30%;
  }
  .portfolio-list__social-links {
    padding-top: 0;
    margin-top: -50px;
    text-align: left;
    padding-bottom: 60px;
    padding-left: 10px;
    z-index: 2;
    position: relative;
  }
  .portfolio-list__date {
    padding-left: 274px;
    padding-top: 150px;
  }
  .portfolio-list__green-rectangle-for-logo {
    right: -88px;
  }


}












@media screen and (min-width: 970px) {
  .header {
    height: 100vh;
  }
  .menu-gamburger {
    right: auto;
    left: 15px;
    z-index: 2;
  }
  .review {
    margin-top: 117px;
  }
  .review-first {
    margin-top: -48%;
  }
  .review {
    width: 49%;

  }
  .review__text {
    margin: 0;
  }
  .green-rectangle-for-logo {
    bottom: 28px;
  }
  .white-rectangle-for-logo {
    width: 292px;
    height: 175px;
    bottom: 0;
    right: 47px;
  }
  .menu-full {
    display: block;
    width: 226px;
    padding: 33px;
    position: absolute;
    bottom: 185px;
    right: 47px;
    text-transform: uppercase;
    background-color: #ffffff;
  }
  .menu-full ul {
    padding: 0;
    list-style-type: none;
    margin-top: 0;
    font-weight: 700;
  }
  .menu-full a {
    text-decoration: none;
    color: #000000;
  }
  .menu-full a:hover {
    text-decoration: underline;
    color: blue;
  }
  .menu-full .title-green {
    margin-bottom: 5px;
  }
  .review970 {
    position: relative;
  }
  .how-contact {
    display: none;
  }
  .how-contact970 {
    display: block;
    width: 262px;
    padding-left: 337px;
    padding-bottom: 150px;
    position: absolute;
    right: 47px;
    top: 100vh;
    background-color: #b0cb1f;
  }
  .how-contact__title {
    padding: 67px 0 0 0;
    width: 100%;
  }
  .how-contact__social-group {
    display: none;

  }
  .portfolio__social-links-after {
    display: block
  }
  .how-contact__conact-group {
    padding: 0;
    width: 100%;
  }
  .how-contact__img {
    right: 0;
    left: auto;
  }
  .review-social {
    position: relative; 
    z-index: 3;
  }
  .how-contact970-2 {
    display: block;
    position: absolute;
    width: 262px;
    padding-top: 49px;
    padding-left: 9% /*404px*/;
    right: -311px;
    background-color: #b0cb1f;
    bottom: -46px;
    z-index: -1;
  }
  .how-contact970-2 .how-contact__social-group {
    display: block;
    width: 100%;
    padding-top: 0;
    padding-bottom: 49px;
    z-index: 2;
  }
  .green-rectangle-for-social {
    display: block;
    width: 665px;
    height: 47px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #b0cb1f;
  }
  .white-rectangle-for-footer {
    width: 64% ;
    right: 0;
  }
  .footer__logo {
    text-align: left;
  }
  .green-rectangle-for-footer {
    width: 62%;
    right: -71px;
  }
  .green-rectangle-for-footer-menu {
    display: flex;
    padding: 21px 0 21px 32px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .footer-block {
    width: 50%;
  }
  .footer-block h4 {
    margin: 0;
    color: #ffffff;
  }
  ul {
    padding-left: 10px;
    list-style-type: none;
  }
  .footer-block a {
    text-decoration: none;
    color: #ffffff;
  }
  .footer-block a:hover {
    text-decoration: underline;
  }
  .map {
    height: 401px;
  }
  .footer__contact {
    width: 100%;
    padding-left: 44%;
  }
  .footer__contact-group {
    display: flex;
    flex-direction: column;
  }
  .footer__contact__adress {
    order: -1;
    font-weight: 700;
  }
  /*portfolio*/
  .portfolio__title {
    margin-top: 120px;
    margin-left: 82px;
  }
  .portfolio__white-rectangle-for-logo {
    bottom: -28px;
    z-index: 3;
  }
  .portfolio__green-rectangle-for-logo {
    width: 49%;
    z-index: 3;
  }
  .portfolio__project__foto__main {
    margin-top: -111px;
    margin-left: 96px;
    width: 73%;
    height: 450px;   
    position: relative;
     z-index: 2;

  }
  .portfolio__project__header {
    right: 88px;
    
    padding: 0;
  }
  .portfolio__project__date-social {
    width: 39%;
    background-color: #b0cb1f; 
     margin-top: -300px;
     margin-left: 37px; 
     padding-top: 388px;
     padding-left: 61px;
    padding-right: 15px;
    position: relative;
    display: inline-block;

  }
  .portfolio__project-title {
    position: relative;
    z-index: 3;
    padding: 26px 16px 26px 31px;
    background-color: #ffffff;

  }
  .portfolio__project__text__main {
    padding-left: 0;
    margin-left: 0;
    padding-bottom: 10px;
  }
  .portfolio__green-rectangle-for-logo  .portfolio-date {
    display: none;
  }

 
  .portfolio__project__date-social .portfolio-date {
    display: block;
    padding-left: 0;
  }
  .portfolio__project__date-social .portfolio__social-links {
    display: block;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 46px;
    z-index: 2;
  }
  .portfolio__project__date-social .how-contact__img {
    display: block;
  }
  .portfolio__project__foto__works {
    display: inline-block;
    width: 48%;
  }
  .portfolio__project__foto__work {
    display: inline-block;
    width: 42%; 
  }
  .portfolio__project__text {
    width: 100%;
  }
  .portfolio__project__stages {
    width: 72%;
    margin-left: 15px;
    padding-top: 70px;
    padding-left: 81px;
    margin-top: -70px;
  }
  .portfolio__project__stage {
    position: relative;
    padding-left: 0;
  }
  .portfolio__project__stage__text {
    padding-left: 0;
    padding-right: 81px;
  }
  .portfolio__project__gallery {
    padding-left: 0;
  }
  .portfolio__project__right-menu {
    display: block;
    padding-top: 54px;
    position: absolute;
    right: -135px;
    top: 0;
    font-size: 24px;
    color: #000000;
  }
  .portfolio__project__right-menu ul {
    list-style-type: disc;
  }
  .portfolio__project__right-menu li {
    color: #000000;
   }
  .portfolio__project__right-menu a {
    color: #000000;
    text-decoration: none;
  }
  .portfolio__project__right-menu a:hover {
    color: #1d7e22;
  }
  .portfolio__project__right-menu-tel {
    font-size: 16px;
    font-weight: bold;
    right: -120px;
  }
  .portfolio__social-links-after {
    text-align: left;
    padding-top: 15px;
    padding-left: 80px;
    padding-bottom: 69px;
  }
  .footer-under-tree {
    left: auto;
    right: 109px;
  }
  .footer-behind-bg-tree {
    display: block;
    position: absolute;
    bottom: -109px;
    left: 0;
    z-index: -1;
  }
  .portfolio__other-projects {
    margin-top: 18px;
    max-height: none;
    display: block;
  }
  footer {
    margin-top: 82px;
  }
/*text*/
.text__portfolio__project__stages__wrapper {
  display: flex;
}
.text-green-bg {
  position: relative;
  display: block;
  width: 28%;
  margin-right: 47px;
  background-color: #b0cb1f;

}
.text__portfolio__project__stages {
  width: 63%;
}
.text_project__right-menu {
  width: 100%;
  background-color: #ffffff;
  padding: 0 0 0 30px;
  right: -30px;
  top: 550px;
}
.text__portfolio__project__right-menu-tel {
  right: 21px;
  bottom: 135px;
  top: auto;
}
.portfolio__green-rectangle-for-logo .text__portfolio-date {
  display: block;
}
.text__project__stage-smaller {
  display: block;
  font-size: 25px;
  color: #000000;
  text-transform: uppercase;
}
.portfolio-list__social-links {
  padding-left: 10px;
  
}

.portfolio-list__date {
z-index: 2;
position: relative;
}
.portfolio-list__green-rectangle-for-logo {
  position: relative;
  bottom: -17px;
  top: auto;
  width: 86%;
}
.portfolio-list__white-rectangle-for-logo {
  right: 31px;
}
.portfolio-list__markers {
  position: absolute;
  right: 31px;
  bottom: 407px;
}
.portfolio-list__text-green-bg {
  width: 50%;
  margin-left: 35px;
}
.portfolio-list__items {
  margin-left: -442px;
}
.portfolio-list-third {
  display: block;
}
.portfolio-list__white-rectangle-for-logo {
  right: 114px;
}

}
@media screen and (min-width: 1020px) {
  .green-rectangle-for-footer {
    width: 66%;
    right: -64px;
  }
}
@media screen and (min-width: 1170px) {
  .portfolio__title {
    width: 446px;
  }
  .review-first {
    margin-top: -42%;
  }
  .review {
    margin-left: 144px;
  }
  .menu-full,
  .white-rectangle-for-logo,
  .how-contact970 {
    right: 58px;
  }
  .portfolio__project__header {
    right: 99px;
  }
  .portfolio__project__foto__main {
    width: 62%;
    margin-left: 147px;
  }
  .portfolio__project__right-menu {
    right: -174px;
  }
  .portfolio__project__right-menu-tel {
    right: -160px;
  }
  .text-green-bg {
    margin-right: 58px;
  }
  .text_project__right-menu {
    right: -30px;
  }
  /*portfolio-list*/
  .portfolio-list__text-green-bg {
    width: 73%;
    margin-left: 56px;
  }
  .portfolio-list__text-green-bg {
    width: 61%;
  }
  .portfolio-list__items {
    margin-left: -642px;
  }
  .portfolio-list__date {
    padding-left: 443px;
  }
  .portfolio-list__white-rectangle-for-logo {
    right: 114px;
}

}
@media screen and (min-width: 1320px) {
  .review-first {
    margin-top: -37%;
  }
  .portfolio__project__foto__main {
    margin-left: 22%;
    width: 52%;
  }

}
@media screen and (min-width: 1400px) {
  .review-first {
    margin-top: -32%;
  }
  .portfolio__project__foto__main {
    width: 57%;
    margin-left: 18%;
  }
  .portfolio__project__foto__works {
    padding-top: 111px;
  }
}
@media screen and (min-width: 1540px) {
  .portfolio__header {
    background-size: cover;
  }
  .menu-gamburger {
    left: 44px;
  }
  .review-first {
    margin-top: -29%;
  }
  .review {
    margin-left: 240px;
  }
  .menu-full,
  .white-rectangle-for-logo,
  .how-contact970 {
    right: 131px;
  }
  .portfolio__menu-full {
    right: 131px;
  }
  .portfolio__project__foto__main {
    margin-left: 261px;
    width: 807px;
  }
  .portfolio__project__header {
    right: 172px;
  }
  .portfolio__project__foto__main {
    margin-left: 17%;
  }
  .portfolio__project__date-social {
    margin-left: 182px;
  }
  .portfolio__project__foto__works {
    width: 42%;
  }
  .portfolio__project__stage__foto-main {
    margin-top: 15px;
    width: 679px; 
    height: 498px; 
  }
  .portfolio__project__stages {
    padding-left: 115px;
  }
  .text__portfolio__project__stages {
    width: 68%;
  }
  .text-green-bg {
    margin-right: 131px;
  }
  .portfolio-list__text-green-bg {
    width: 73%;
    margin-left: 173px;
}
.portfolio-list__items {
  margin-left: -873px;
}
.portfolio-list__text-green-bg {
  width: 63%;
}
}